﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaterpolo Liga</title>

    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/vaterpolo-liga-specific.css" rel='stylesheet' type='text/css' />
    <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
</head>
<body ng-app="vaterpoloLiga" ng-controller="mainController">
    <div class="header">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-left">
                <ul class="nav navbar-nav">
                    <li><a ng-href="#/index">Naslovnica</a></li>
                    <li><a ng-href="#/profile" ng-show="authentication.ovlastID == 4">Profil</a></li>
                    <li><a ng-href="#/utakmice" ng-show="authentication.ovlastID == 2">Utakmice</a></li>
                    <li><a ng-href="#/postavke" ng-show="authentication.ovlastID == 2">Postavke</a></li>
                    <li><a ng-href="#/admin" ng-show="authentication.ovlastID == 1">Admin</a></li>
                    <li><a ng-href="#/igrac-utakmice" ng-show="authentication.ovlastID == 3">Igrač Utakmice</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-right">
                <div id="login" ng-hide="authentication.isAuth">
                    <div class="form-group">
                        <input ng-model="loginData.userName" type="text" class="form-control" placeholder="Korisničko ime">
                        <input ng-model="loginData.password" type="password" class="form-control" placeholder="Lozinka">
                    </div>
                    <button class="btn btn-default" ng-click="login()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Prijava</button>
                    <a href="#/register" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registracija</a>
                </div>
                <div id="user_info" ng-hide="!authentication.isAuth">
                    <span class="user-welcome">Dobrodošli, <b>{{ authentication.userName }}</b></span>
                    <button class="btn btn-default" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Odjava</button>
                </div>
            </form>
        </nav>
    </div>

    <div class="container">
        <div ng-view></div>
    </div>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/controllers/mainController.js"></script>
    <script src="~/App/controllers/indexController.js"></script>
    <script src="~/App/controllers/profileController.js"></script>
    <script src="~/App/controllers/registerController.js"></script>
    <script src="~/App/controllers/utakmiceController.js"></script>
    <script src="~/App/controllers/postavkeController.js"></script>
    <script src="~/App/controllers/adminController.js"></script>
    <script src="~/App/controllers/igracUtakmiceController.js"></script>
    <script src="~/App/services/authService.js"></script>
    <script src="~/App/services/authInterceptorService.js"></script>
    <script src="~/App/services/drzaveService.js"></script>
    <script src="~/App/services/timoviService.js"></script>
    <script src="~/App/services/igraciService.js"></script>
    <script src="~/App/services/virtualniTimoviService.js"></script>
    <script src="~/App/services/utakmiceService.js"></script>
    <script src="~/App/services/tipoviService.js"></script>
    <script src="~/App/services/dogadajiService.js"></script>
    <script src="~/App/services/tabliceService.js"></script>
    <script src="~/App/services/simulationService.js"></script>
</body>
</html>