﻿.navbar-right {
    margin-right: 0px;
}

.content {
    margin: 15px;
}

.btn-mini {
    height: auto;
    line-height: 10px;
    background-color:powderblue;
    width:70px;
}

.left {
    font-size: 16px;
}

.left button {
    font-size: 18px;
}

.tab_style {
    background-color:floralwhite;
    width:80px;
}

.tab_style1 {
    background-color:powderblue;
    width:60px;
    height:50px;
}


.special {
    height:40px;
    width: 200px;

}
.list-group-item {
    height:40px;
    width: 400px;
}

.jumbotron {
    background: url("/images/vaterpolo.jpg") center center;
    background-size: cover;
    overflow: hidden;
    height: 320px;
    z-index: 0;
}

.jumbotron1 {
    background-size: cover;
    overflow: hidden;
    height: 360px;
    z-index: 0;
}

img {
    -webkit-filter: brightness(40%);
}

#wrapper {
    position: absolute;
    width: 600px;
    min-height: 200px;
    margin: 30px auto;
    color: black;
}

.settings {
    background-color:aliceblue;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    background-color: white;
    color: black;
}

ul {
    float:left;
    margin:0 5px;
}

.reg {
    color: yellow;
}

#sign-up {
    max-width: 500px;
}

.select-igrac {
    margin-bottom: 28px;
}

.finished {
    color: green;
    font-weight: bold;
}

utakmice-table th, td {
    background-color: #f5f5f5;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.naziv-utakmice {
    margin-bottom: 25px;
}

.utakmice label {
    color: lightgrey;
}

.profile label {
    color: lightgrey;
}

.left {
    margin-right: 20px;
}

.zavrsi-utakmicu {
    margin-left: 20px;
}

.user-welcome {
    margin-right: 10px;
}

.broj-bodova {
    font-size: 16px;
}

.broj-bodova-ukupno {
    font-size: 24px;
    color: red;
}

.postavke .form-control {
    width: 100px;
}

.table td {
   text-align: center;
   align-content: center;
}

.table thead th {
   text-align: center;
   align-content: center;
}

.igrac-utakmice select {
    width: 350px;
}