﻿<div class="row">
    <div class="col-md-3"><input class="form-control" type="number" ng-model="brojSimulacija" placeholder="Upisi broj utakmica za simuliranje" /></div>
    <button class="btn btn-success col-md-offset-1" ng-click="simuliraj()"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Simuliraj utakmice</button>
    <div class="col-md-offset-1"><b>{{ message }}</b></div>
</div>