﻿<div class="igrac-utakmice">
    <div class="col-md-2 left">
        <div class="col-md-6 kola" align="center">
            <label align="center">Kolo:</label>
            <div class="btn-group-vertical" role="group" aria-label="kola">
                <button ng-class="{'active': aktivnoKolo == kolo.id}" type="button" class="btn btn-default" ng-click="promijeniKolo(kolo.id)" ng-repeat="kolo in kola">{{ kolo.id }}</button>
            </div>
        </div>
        <div class="col-md-6 utakmice" ng-show="aktivnoKolo != null" align="center">
            <label>Utakmice:</label>
            <div class="btn-group-vertical" role="group" aria-label="utakmice">
                <button ng-class="{'active': trenutnaUtakmica.id == utakmica.id}" type="button" class="btn btn-default" data-toggle="utakmica" ng-click="showUtakmica(utakmica)" ng-repeat="utakmica in utakmiceKola">{{ utakmica.lijeviTimID + " : " + utakmica.desniTimID }}</button>
            </div>
        </div>
    </div>

    <div class="col-md-9 well right" ng-hide="trenutnaUtakmica == null">
        <h2 class="naziv-utakmice" align="center">{{ trenutnaUtakmica.lijeviTim.naziv }} <label>vs.</label> {{ trenutnaUtakmica.desniTim.naziv }}</h2>
        <div class="row">
            <select class="form-control col-md-3 col-md-offset-1" id="sel3" ng-model="noviDogadaj.igracID" ng-disabled="trenutnaUtakmica.pobjednik == 0 || igracUtakmice != null">
                <option value="" disabled selected>Izaberite igrača utakmice</option>
                <option ng-repeat="igrac in igraci" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
            </select>
            <button class="btn btn-success col-md-3 col-md-offset-2" ng-disabled="trenutnaUtakmica.pobjednik == 0 || igracUtakmice != null" ng-click="spremiIgracaUtakmice()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Spremi igrača utakmice</button>
        </div>

        <span class="col-md-offset-2" ng-show="trenutnaUtakmica.pobjednik == 0">Ova utakmica još nije odigrana!</span>
        <span class="col-md-offset-2" ng-show="igracUtakmice != null">Igrač utakmice je već izabran</span>
        <span class="col-md-offset-2" ng-show="successMessage != null">{{ successMessage }}</span>
    </div>
</div>
