﻿<div class="jumbotron"></div>
<div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="pill" ng-click="activetab = 1">POREDAK</a></li>
        <li><a data-toggle="pill" ng-click="activetab = 2">REZULTATI</a></li>
        <li><a data-toggle="pill" ng-click="activetab = 3">NAJKORISNIJI IGRAČI</a></li>
    </ul>

    <div class="tab-content">
        <div id="poredak" ng-show="activetab == 1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>MJESTO</th>
                        <th>IME EKIPE</th>
                        <th>BROJ BODOVA</th>
                    </tr>
                </thead>
                <tr ng-repeat="ekipa in liga" class="info">
                    <td>{{ ekipa.mjesto }}</td>
                    <td>{{ ekipa.tim.naziv }}</td>
                    <td>{{ ekipa.brojBodova }}</td>
                </tr>
            </table>
        </div>

        <div id="rezultati" ng-show="activetab == 2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            KOLO
                            <select class="btn btn-mini">
                                <option value="" disabled selected>Izaberite kolo</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </th>
                        <th>TIM</th>
                        <th>REZULTAT</th>
                    </tr>
                </thead>
                <tr ng-repeat="rezultat in rezultati" class="info">
                    <td>{{ rezultat.kolo }}</td>
                    <td>{{ rezultat.lijeviTim.naziv + " : " + rezultat.desniTim.naziv }}</td>
                    <td>{{ rezultat.lijeviBrojPogodaka + " : " + rezultat.desniBrojPogodaka }}</td>
                </tr>
            </table>
        </div>

        <div id="najkorisniji_igraci" ng-show="activetab == 3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>MJESTO</th>
                        <th>IGRAČ</th>
                        <th>BROJ KAPICE</th>
                        <th>IME TIMA</th>
                        <th>BROJ BODOVA</th>
                    </tr>
                </thead>
                <tr ng-repeat="igrac in najkorisnijiIgraci" class="info">
                    <td>{{ igrac.mjesto }}</td>
                    <td>{{ igrac.imePrezime }}</td>
                    <td>{{ igrac.brojKapice }}</td>
                    <td>{{ igrac.imeTima }}</td>
                    <td>{{ igrac.brojBodova }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>