﻿<div class="postavke">
    <div class="container">
        <div class="col-md-5">
            <div class="col-md-3" align="center">
                <label align="center">Timovi:</label>
                <div class="btn-group-vertical" role="group" aria-label="kola">
                    <button ng-class="{ 'active': aktivniTim.id == tim.id}" type="button" class="btn btn-default" ng-click="promijeniTim(tim)" ng-repeat="tim in timovi">{{ tim.naziv }}</button>
                </div>
            </div>

            <div class="col-md-9 well" align="center" ng-show="aktivniTim != null">
                <div class="row">
                    <h4>{{ aktivniTim.naziv }}</h4>
                </div>

                <table class="table" align="center">
                    <tr>
                        <td>IME</td>
                        <td>BROJ KAPICE</td>
                        <td>VRIJEDNOST</td>
                    </tr>
                    <tr align="center" ng-repeat="igrac in igraciAktivnogTima">
                        <td>{{ igrac.ime + " " + igrac.prezime }}</td>
                        <td align="center">{{ igrac.brojKapice }}</td>
                        <td><input type="number" class="form-control" ng-model="igrac.vrijednost" /></td>
                    </tr>
                </table>
                <button class="btn btn-success" ng-click="spremiIgrace()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Spremite cijene igrača</button>
                <div class="row">{{ igraciMessage }}</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <div class="row" align="center">
                    <h4>Postavke</h4>
                </div>

                <div class="col-md-6">
                    <table class="table" align="center">
                        <tr>
                            <td>NAZIV</td>
                            <td>VRIJEDNOST</td>
                        </tr>
                        <tr align="center" ng-repeat="tip in tipovi.slice(0, 8)">
                            <td>{{ tip.naziv }}</td>
                            <td><input type="number" class="form-control" ng-model="tip.vrijednost" /></td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <table class="table" align="center">
                            <tr>
                                <td>NAZIV</td>
                                <td>VRIJEDNOST</td>
                            </tr>
                            <tr align="center" ng-repeat="tip in tipovi.slice(8, 16)">
                                <td>{{ tip.naziv }}</td>
                                <td><input type="number" class="form-control" ng-model="tip.vrijednost" /></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-4">
                        <button class="btn btn-success" ng-click="spremiPostavke()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Spremite postavke</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        {{ postavkeMessage }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
