﻿<div class="profile">
    <div clsas="well">
        <div class="row" align="center">
            <h3><label>VAŠA EKIPA:</label> {{ virtualniTim.naziv }}</h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <table class="table">
                <tr>
                    <td>IME IGRAČA</td>
                    <td>POZICIJA</td>
                    <td>TIM</td>
                    <td>BROJ KAPICE</td>
                    <td>BROJ BODOVA</td>
                </tr>
                <tr ng-repeat="igrac in virtualniTim.igraci">
                    <td>{{ igrac.ime + " " + igrac.prezime }}</td>
                    <td>{{ igrac.pozicija.naziv }}</td>
                    <td>{{ igrac.tim.naziv}}</td>
                    <td>{{ igrac.brojKapice }}</td>
                    <td><b class="broj-bodova">{{ igrac.brojBodova }}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b class="broj-bodova-ukupno">{{ virtualniTim.brojBodova }}</b> <label>UKUPNO</label></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="pill" ng-click="activetab = 1">GLOBALNI POREDAK</a></li>
                <li><a data-toggle="pill" ng-click="activetab = 2">NATJECATELJI IZ <span class="text-uppercase">{{ drzava.naziv }}</span></a></li>
                <li><a data-toggle="pill" ng-click="activetab = 3">NATJECATELJI KOJI PRATE <span class="text-uppercase">{{ tim.naziv }}</span></a></li>
            </ul>

            <div class="tab-content">
                <div id="globalni_poredak" ng-show="activetab == 1">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>MJESTO</th>
                                <th>KORISNIČKO IME</th>
                                <th>VIRTUALNA EKIPA</th>
                                <th>BROJ BODOVA</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="natjecatelj in globalno" class="info">
                            <td>{{ natjecatelj.mjesto }}</td>
                            <td>{{ natjecatelj.userName }}</td>
                            <td>{{ natjecatelj.virtualniTim.naziv }}</td>
                            <td>{{ natjecatelj.brojBodova }}</td>
                        </tr>
                    </table>
                </div>

                <div id="poredak_po_drzavama" ng-show="activetab == 2">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>MJESTO</th>
                                <th>KORISNIČKO IME</th>
                                <th>VIRTUALNA EKIPA</th>
                                <th>BROJ BODOVA</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="natjecatelj in drzavno" class="info">
                            <td>{{ natjecatelj.mjesto }}</td>
                            <td>{{ natjecatelj.userName }}</td>
                            <td>{{ natjecatelj.virtualniTim.naziv }}</td>
                            <td>{{ natjecatelj.brojBodova }}</td>
                        </tr>
                    </table>
                </div>

                <div id="poredak_po_timu_za_koji_navija" ng-show="activetab == 3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>MJESTO</th>
                                <th>KORISNIČKO IME</th>
                                <th>VIRTUALNA EKIPA</th>
                                <th>BROJ BODOVA</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="natjecatelj in timsko" class="info">
                            <td>{{ natjecatelj.mjesto }}</td>
                            <td>{{ natjecatelj.userName }}</td>
                            <td>{{ natjecatelj.virtualniTim.naziv }}</td>
                            <td>{{ natjecatelj.brojBodova }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
