﻿<h3>Nemate račun?<br /><strong>Registrirajte se.</strong></h3>
<br />
<form id="registration" class="form-horizontal" role="form">
    <div class="col-md-8 col-xs-12" id="sign-up">
        <fieldset class="well">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Ime</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Ime" ng-model="registration.ime" />
                    <p class="help-block">Ime može sadržavati samo slova</p>
                </div>
            </div>

            <div class="form-group">
                <label for="surname" class="col-sm-2 control-label">Prezime</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="surname" placeholder="Prezime" ng-model="registration.prezime" />
                    <p class="help-block">Prezime može sadržavati samo slova</p>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Korisničko ime</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" placeholder="Korisničko ime" ng-model="registration.userName" />
                    <p class="help-block">Korisničko ime može sadržavati slova i brojke</p>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="E-mail" ng-model="registration.email" />
                    <p class="help-block">Molimo upišite svoj e-mail</p>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Lozinka</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" placeholder="Lozinka" ng-model="registration.password" />
                    <p class="help-block">Lozinka se treba sastojati od barem 6 znakova</p>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-sm-2 control-label">Potvrdite lozinku</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Lozinka" ng-model="registration.confirmPassword" />
                    <p class="help-block">Potvrdite lozinku</p>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-md-8 col-xs-12" id="sign-up">
        <fieldset class="well">
            <div class="form-group">
                <label for="country" class="col-sm-3 control-label">Država</label>
                <div class="col-sm-9">
                    <select class="form-control" id="country" ng-model="registration.drzavaID">
                        <option value="" disabled selected>Izaberite državu</option>
                        <option ng-repeat="drzava in drzave" value="{{ drzava.id }}">{{ drzava.naziv }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="team_you_support" class="col-sm-3 control-label">Tim koji podržavate</label>
                <div class="col-sm-9">
                    <select class="form-control" id="team_you_support" ng-model="registration.timID">
                        <option value="" disabled selected>Izaberite tim</option>
                        <option ng-repeat="tim in timovi" value="{{ tim.id }}">{{ tim.naziv }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="virtual_team" class="col-sm-3 control-label">Virtualni tim</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="virtual_team" placeholder="Virtualni tim"  ng-model="virtualniTim.naziv" />
                </div>
            </div>
        </fieldset>

        <label for="sel1">Odaberite 7 igrača</label>
        <div class="form-group">
            <div>
                <div class="col-sm-6">
                    <select class="form-control" id="sel1" ng-model="virtualniTim.krilo1">
                        <option value="" disabled selected>Krilo desno</option>
                        <option ng-repeat="igrac in igraci[3]" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="col-sm-6">
                    <select class="form-control select-igrac" id="sel2" ng-model="virtualniTim.vratar">
                        <option value="" disabled selected>Vratar</option>
                        <option ng-repeat="igrac in igraci[0]" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="col-sm-6">
                    <select class="form-control select-igrac" id="sel3" ng-model="virtualniTim.krilo2">
                        <option value="" disabled selected>Krilo lijevo</option>
                        <option ng-repeat="igrac in igraci[3]" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="col-sm-6">
                    <select class="form-control select-igrac" id="sel4" ng-model="virtualniTim.centar">
                        <option value="" disabled selected>Centar</option>
                        <option ng-repeat="igrac in igraci[2]" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="col-sm-6">
                    <select class="form-control select-igrac" id="sel5" ng-model="virtualniTim.vanjski1">
                        <option value="" disabled selected>Vanjski desno</option>
                        <option ng-repeat="igrac in igraci[4]" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="col-sm-6">
                    <select class="form-control select-igrac" id="sel6" ng-model="virtualniTim.bek">
                        <option value="" disabled selected>Bek</option>
                        <option ng-repeat="igrac in igraci[1]" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="col-sm-6">
                    <select class="form-control select-igrac" id="sel7" ng-model="virtualniTim.vanjski2">
                        <option value="" disabled selected>Vanjski lijevo</option>
                        <option ng-repeat="igrac in igraci[4]" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <div id="alertID" class="alert alert-danger" style="display:none;"></div>
            <div class="col-md-4 col-sm-4">
                <button class="btn btn-success" ng-click="register()"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Registrirajte se</button>
            </div>
            <label>{{ message }}</label>
        </div>
    </div>
</form>

