﻿<div class="utakmice">
    <div class="col-md-2 left">
        <div class="col-md-6 kola" align="center">
            <label align="center">Kolo:</label>
            <div class="btn-group-vertical" role="group" aria-label="kola">
                <button ng-class="{'finished': kolo.finished == 6, 'active': aktivnoKolo == kolo.id}" type="button" class="btn btn-default" ng-click="promijeniKolo(kolo.id)" ng-repeat="kolo in kola">{{ kolo.id }}</button>
            </div>
        </div>
        <div class="col-md-6 utakmice" ng-show="aktivnoKolo != null" align="center">
            <label>Utakmice:</label>
            <div class="btn-group-vertical" role="group" aria-label="utakmice">
                <button ng-class="{'finished': utakmica.pobjednik != 0, 'active': trenutnaUtakmica.id == utakmica.id}" type="button" class="btn btn-default" data-toggle="utakmica" ng-click="showUtakmica(utakmica)" ng-repeat="utakmica in utakmiceKola">{{ utakmica.lijeviTimID + " : " + utakmica.desniTimID }}</button>
            </div>
        </div>
    </div>

    <div class="col-md-9 well right" ng-hide="trenutnaUtakmica == null">
        <h2 class="naziv-utakmice" align="center">{{ trenutnaUtakmica.lijeviTim.naziv }} <label>vs.</label> {{ trenutnaUtakmica.desniTim.naziv }}</h2>
        <table class="table">
            <tr>
                <td>VRIJEME (min)</td>
                <td>TIP DOGAĐAJA</td>
                <td>IGRAČ</td>
                <td width="10%">BROJ KAPICE</td>
                <td width="5%">TIM</td>
                <td></td>
            </tr>
            <tr ng-repeat="dogadaj in dogadaji">
                <td>{{ dogadaj.vrijeme }}' min</td>
                <td>{{ dogadaj.tip.naziv }}</td>
                <td>{{ dogadaj.igrac.ime + " " + dogadaj.igrac.prezime }}</td>
                <td width="10%">{{ dogadaj.igrac.brojKapice }}</td>
                <td width="5%">{{ dogadaj.igrac.timID }}</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="number" class="form-control" id="vrijeme" placeholder="Unesite vrijeme" ng-model="noviDogadaj.vrijeme" ng-disabled="trenutnaUtakmica.pobjednik != 0" />
                </td>
                <td>
                    <select class="form-control" id="sel2" ng-model="noviDogadaj.tipID" ng-disabled="trenutnaUtakmica.pobjednik != 0">
                        <option value="" disabled selected>Izaberite tip</option>
                        <option ng-repeat="tip in tipovi" value="{{ tip.id }}">{{ tip.naziv }}</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="sel3" ng-model="noviDogadaj.igracID" ng-disabled="trenutnaUtakmica.pobjednik != 0">
                        <option value="" disabled selected>Izaberite igrača</option>
                        <option ng-repeat="igrac in igraci" value="{{ igrac.id }}">{{ igrac.ime + " " + igrac.prezime }}</option>
                    </select>
                </td>
                <td width="10%"></td>
                <td width="5%"></td>
                <td><button class="btn btn-default" ng-click="dodajNoviDogadaj()" ng-disabled="trenutnaUtakmica.pobjednik != 0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodajte događaj</button></td>
            </tr>
        </table>
        <div class="col-md-8">
            <h4 align="center"><label>Rezultat:</label> {{ brojPogodaka.lijeviTim }} : {{ brojPogodaka.desniTim }}</h4>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success zavrsi-utakmicu" ng-disabled="trenutnaUtakmica.pobjednik != 0" ng-click="zavrsiUtakmicu()"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Završite utakmicu</button>
        </div>
    </div>
</div>